{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

</head>
<body>
    <header>
        <h1>vetspacito</h1>
        <img class="image" src="https://vetspacito.carrd.co/assets/images/image03.png?v=464fe6c1" alt="vetspacito"/>
        {% include "cards/navigation.html" %}
    </header>
    <main>

        {% block content %}
        <h2>Flashcard app</h2>
        {% endblock content %}
    </main>
    <footer>
        made with love Vetspacito LLC
        <p>do you support our mission? want to get involved? </p>
        <p><a href="mailto:contact@vetspacito.com">email contact@vetspacito.com</a></p>

    </footer>

</body>
</html>
