{% extends 'base.html' %}
{% load humanize %}

{% block content%}
    <h2>
        {{ box_number | ordinal}} box
    </h2>
    <mark>
        {{ 0bject_list | length }}
    </mark>
    card{{ object_list | pluralize }} left in box.
    <hr>
    {% if check_card %}
        {% include "cards/card.html" with card=check_card %}
    {% endfif %}
{% endblock content%}
