{% extends 'base.html' %}

{% block content %}
    {% if card %}
        <h2>edit card</h2>
    {% else %}

    <a href="{% url 'card-create' %}" role="button">
        create new card
    </a>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="save card">
    </form>
    <a href="{% url 'card-list' %}">
        Cancel
    </a>
    {% endblock %}
