<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
    <p>{{ card.answer }}</p>
    <hr>
    <a href="{% url 'card-update' card.id %}" role="button">
        edit card
    </a>
    {% else %}
    <details>
        <summary>reveal answer</summary>
        <p> {{ card.answer }}</p>
    </details>
    {% endif %}
</article>
