{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>
    learn veterinary Spanish!
</h2>
<p>
    let's start with the basics of anatomy. click on the arrow to see the answer.
</p>
{% for card in card_list %}

<article>
    <h4>{{ card.question }}</h4>
    <details>
        <summary> </summary>
        <p> {{ card.answer }}</p>
    </details>
    <a href="{% url 'card-update' card.id %}" role="button">
        edit card
    </a>

</article>

    <!-- <article>
    {{ card }}
    </article> -->
{% endfor %}
{% endblock content %}
