{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1>practice your skills</h1>
    <p>
        hover over a body area to see its name in Spanish!
    </p>
</div>
<div>
    <ul id="dog">
        <li id="cabeza"><a href="">cabeza</a></li>
        <li id="barriga"><a href="">barriga</a></li>
        <li id="cola"><a href="">cola</a></li>
        <li id="hombro"><a href="">hombro</a></li>
    </ul>
</div>

{% endblock content %}
