
{% load cards_tags %}
<nav>
    <a href="{% url 'card-list' %}">all cards</a>
    <a href="{% url 'card-create' %}" role="button">
        create new card
    </a>
    <a href="{% url 'learn' %}" role="button">
        learn
    </a>
    <a href="https://www.vetspacito.com/about" role="button">about</a>

</nav>
