ul#dog {
    list-style: none;
    background: url(images/dog2.png) no-repeat 0 0;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    }
ul#dog li {

    position: absolute;
}
ul#dog li a{
    display: block;
    height: 100%;
    text-indent: -9000px;
}
#cabeza {
    width:150px;
    height: 100px;
    top: 50px;
    left: 100px;
}

#barriga {
    width: 150px;
    height: 150px;
    top: 270px;
    left:  150px;
    }

#cola {
    width: 150px;
    height:150px;
    top: 200px;
    left: 315px;
}

#hombro {
    width:150px;
    height:100px;
    top:175px;
    left:125px;
}

ul#dog li#cabeza a:hover {
    background: url(images/cabeza.png) no-repeat 0 0;
}
ul#dog li#barriga a:hover {
    background: url(images/barriga.png) no-repeat 0 0;
}
ul#dog li#cola a:hover {
    background: url(images/cola.png) no-repeat 0 0;
}
ul#dog li#hombro a:hover {
    background: url(images/hombro.png) no-repeat 0 0;
}

.image{
    width:10%;
    height: auto;
}

header {
    width:100%;
    height: 20%;
}
